<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PARCIAL NASA</title>
  <link rel="stylesheet" type="text/css" href="app.component.css">
  <script>
    function clearInitialValues() {
      document.getElementById("tiempo").value = "";
      document.getElementById("gravedad").value = "";
      document.getElementById("altura").value = "";
      document.getElementById("velocidad").value = "";
    }
    window.onload = clearInitialValues;
  </script>
</head>
<body>

  <form>
    <h4>PARCIAL NASA</h4>

    <label for="tiempo">Tiempo(minutos)</label><br>
    <input class="controls" type="number" [(ngModel)]="tiempo" name="tiempo" id="tiempo" >
    <br>
    <br>
    <label for="gravedad">Gravedad</label><br>
    <input class="controls" type="number" [(ngModel)]="gravedad" name="gravedad" id="gravedad" >
    <br>
    <br>
    <label for="altura" class="altura-label"> La altura es:</label><br>
    <input class="controls" type="number" [readonly]="readonlyInput" [(ngModel)]="altura" name="altura" id="altura" >
    <br>
    <br>
    <label for="velocidad" class="velocidad-label">La velocidad es:</label><br>
    <input class="controls" type="number" [readonly]="readonlyInput" [(ngModel)]="velocidad" name="velocidad" id="velocidad" >
    <br>
    <br>
    <button (click)="H()">Calcular altura</button>
    <button (click)="V_f()">Calcular velocidad</button>
    <button type="reset">Restablecer cálculos</button>
  </form>
<footer>
  DEISON VALLE - CAMILO VALDES
  <br>
  <img src="assets/foto.jpg" width="900" height="1000" >
</footer>
</body>
</html>
